.RecipeCard-article {
  border-radius: 8px;
  background-color: #fff;
  width: 800px;
  margin: 2em auto;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.RecipeCard--p {
  font-weight: bold;
  margin: .5em 0;
}

.RecipeCard--div--flex {
  display: flex;
}

.RecipeCard--div {
  display: inline-block;
  margin: 1em 1em 1em 2em;
}

.RecipeCard--div-notes {
  @extend .RecipeCard--div;
  width: 400px;
}

.RecipeCard--anchor {
  color: $darkMaroon;
  font-size: 1.7em;
  &:hover {
    color: blue;
  }
}

.RecipeCard--img {
  border-radius: 8px;
  width: 300px;
}

.RecipeCard--button {
  background-color: $maroon;
  border-radius: 8px;
  color: #fff;
  display: block;
  font-size: 1em;
  padding: .5em 1.8em;
  &:hover {
    background-color: $darkMaroon;
  }
  margin-top: .6em;
}

.RecipeCard--textarea {
  height: 140px;
  width: 400px;
  font-size: 1em;
}

.RecipeCard--p--large {
  font-size: 1.2em;
  margin: 1.3em 0 .9em 0;
}

.RecipeCard--div--buttons {
  display: flex;
  justify-content: center;
}

.RecipeCard--icon--close {
  margin-top: .7em;
  margin-left: .5em;
  font-size: 1.2em;
  border: 0;
  &:hover {
    color: $darkMaroon;
  }
}

.RecipeCard--icon--delete {
  @extend .RecipeCard--icon--close;
  margin-left: auto;
  margin-right: .5em;
}

@media screen and (max-width: 850px) {
  .RecipeCard--div--flex {
    flex-direction: column;
  }

  .RecipeCard-article {
    width: 500px;
  }
}
