.RecipeContainer {
  display: grid;
  grid-template-columns: repeat(4, 265px);
  grid-gap: 10px;
  margin: auto auto 20px;
  width: 1090px;
  justify-items: center;
}

@media screen and (max-width: 1100px) {
  .RecipeContainer {
    grid-template-columns: repeat(3, 265px);
    width:815px;
  }
}

@media screen and (max-width: 830px) {
  .RecipeContainer {
    grid-template-columns: repeat(2, 265px);
    width: 540px;
  }
}

@media screen and (max-width: 575px) {
  .RecipeContainer {
    grid-template-columns: 265px;
    width: 275px;
  }
}